@charset "UTF-8";

@media (max-width: 960px) {
    /*HEADER*/
    .page-title {
        font-size: 4rem;
    }

    .home-content {
        margin-top: 10%;
    }
}

@media (max-width:520px) {
    /*HOME*/
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .home-content {
        margin-top: 15%;
    }

    .page-title {
        font-size: 3.5rem;
    }

    /*HEADER*/
    .logo {
        margin: -25px 0 0 0;
    }

    .main-nav {
        margin-top: -20px;
        padding-right: 40px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    textarea{
        width:95%
    }

    /*NEWS*/
    .news-contents {
        flex-direction: column;
        padding-top: 20px;
    }

    article,
    aside {
        width: 100%;
    }

    /*記事部分*/
    .post-date {
        width: 70px;
        height: 60PX;
        font-size: 1rem;
    }

    .post-date span {
        font-size: 0.85rem;
        padding-top: 2px;
    }

    .post-title {
        font-size: 1.375rem;
        margin: 10px 20px 0 80px;
    }

    .post-cat {
        font-size: 0.875rem;
        margin-left: 80px;
    }

    /*メニュー部分*/
    .grid {
        display: grid;
        gap: 26px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        margin-top: 6%;
        margin-bottom: 50px;
    }

      .menu-content p {
        font-size: 1.125rem;
        margin: 10px 20px 0 20px;
    }
      

    /*店舗情報・地図*/
    #location {
        padding: 7% 0;
    }
    
    #location .wrapper {
        display: block;
    }
    
    .location-info {
        width: 100%;
    }
    
    .location-info a:hover {
        color: #0bd;
    }
    .location-map {
        width: 100%;
        height: 0;
      }
      .location-map iframe{
        width: 100%;
        aspect-ratio: 16/9;
      }
    
}